@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Shrikhand&display=swap');

@import "./utils/variables";



/* Page entière */
body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.content {
    margin: 0 auto;
    max-width: 1400px;
}

/* Haut de page */


.title-accueil {
    margin-top: 10px;
    text-align: center;
    font-family: Shrikhand, sans-serif;
}

input {
    margin-left: 10px;
    border: 0px;
    background: $grey-black;
}

.logo-head {
    height: 30px;
    object-fit: cover;
}

.block {
    padding-bottom: 1px;
    text-align: center;
    background: $grey;
    .position {
        box-shadow: inset 0 11px 8px -9px rgba(0,0,0,0.3);
        background: #e0e0e0;
        padding: 15px 0;
        p {
            margin: 0;
            .fa-location-dot {
                margin-right: 10px;
            }
        }
    }
}

.presentation {
    margin: 0 10%;
    h1 {
        margin:  15px 10%;
    }
}

.btn-pink {
    text-align: center;
    margin-bottom: 50px;
    a {
        color: #fff;
        font-weight: bolder;
        text-decoration: none;
        padding: 10px;
        border-radius: 20px;
        background: linear-gradient(to bottom, $pink 0%, $purple 100%);
        box-shadow: -1px 6px 25px -5px rgba(0,0,0,0.31);
        transition: 0.3s;
        &:hover {
            box-shadow: -1px 6px 25px -5px rgba(0,0,0,0.60);
            opacity: 0.7;
        }
    }
}

/* Functioning */

.functioning {
    margin: 50px 5%;
}

.btn_functioning {
    display: flex;
    align-items: center;
    
    p {
        width: 100%;
        font-weight: bolder; 
        padding: 25px 30px;
        background: $grey;
        border-radius: 20px;
        box-shadow: -1px 6px 25px -5px rgba(0,0,0,0.31);
        margin-left: -10px;
        
        &:hover {
            box-shadow: -1px 6px 25px -5px rgba(0,0,0,0.60);
            background: linear-gradient(to bottom, #F7C3FF 0%, #C456FF 100%);
            color: #fff;
        }
    }

    span {
        color: #fff;
        border-radius: 30px;
        background: $purple;
        padding: 2px 7px;
        position: relative;
    }
}


.fa-functioning {
    margin-right:20px;
}

/* Restaurants */

.restaurants {
    padding: 30px 0;
    background: $grey;
    h2 {
        margin-left: 5%;
    }
    a {
        text-decoration: none;
        color: #25282a;
        &:hover {
            color: $purple;
            .card__label {
                color: #25282a;
            }
        }
    }
}


.card {
    margin-left: 5%;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 90%;
    padding-bottom: 10px;
    box-shadow: -1px 6px 25px -5px rgba(0,0,0,0.31);
    transition: 1s;
    opacity: 0.70;
        &:hover {
            opacity: 1;
        }
    h3, p {
        margin: 0;
        margin-left: 20px;
    }
}



.restaurants__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.card__details {
    display: flex;
    align-items:baseline;
    &--flex {
        display:flex;
        flex-direction: row;
        width: 90%;
        margin-top: 5px;
    }
    &--presentation {
        width: 100%;
    }
}



/* Footer */


footer {
    background: #25282a;
    color: white;
    padding-bottom: 30px;
    padding-left: 5%;

    h2 {
        font-family: Shrikhand, sans-serif;
        margin-top: 0;
        padding-top: 15px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
    }

        
    a {
        text-decoration: none;
        color: #fff;
        &:hover {
            color: $purple;
        }
    }

    .fa-solid {
        margin-right: 10px;
    }

}

/* version desktop */

@media screen and (min-width: 975px)  {

    .flex_functioning {
        display: flex;
        justify-content: space-between;
        .btn_functioning {
            width: 32%;
        }
        i {
            margin-right: 5px;
        }
        p {
            padding: 20px 0;
            text-align: center;
        }
    }
    
    .btn {
        width: 31%;
    }


    .restaurants__grid {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
    

    footer {
        ul {
            display: flex;
            justify-content: space-evenly;
        }
    }

    .partie_flex {
        display: flex;
        justify-content: space-between;
        section {
            width: 30%;
            margin-right: 2%;
        }
    }

    .menu {
        padding-bottom: 10px;
        padding: 0 2%;
    }
    
    .btn__in--left {
        width:60%;
    }
}


/* Page Menu */



.title-menu {
    margin-top: 10px;
    text-align: center;
    font-family: Shrikhand, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-arrow-left {
    font-size: 20px;
    &:hover {
        color: $purple;
        transform: scale(1.5);
        transition: transform 0.6s;
    }
}

.t-menu {
    width: 90%;
}

.partie_flex{
    padding-bottom: 10px;
    section {
        ul {
            padding: 0;
        }
    }
}

.menu{    
    padding: 0 5% 20px;
    background: $grey;
    border-radius: 20px 20px 0 0;
    position: relative;
    z-index: 1;
    margin-top: -20px;
    h2{
        font-family: Shrikhand, sans-serif;
        display: inline-block;
        font-weight: 400;
        margin-right: 40px;
    }
}

.flex-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img_menu {
    width: 100%;
    height: 200px;
    object-fit: cover;
    z-index: 0;
}

.fa-circle-check {
    color: #fff;
    transition: transform 0.6s ease-in-out;
}

.checklist {
    background: $green;
    width: 0;
    transition: all 0.6s ease-in-out;
    padding: 27px 0;
    border-radius: 0 20px 20px 0;
}

.btn {
    overflow: hidden;
    &:hover {
        box-shadow: -1px 6px 25px -5px rgba(0,0,0,0.60);

        .checklist {
            width: auto;
            padding: 27px 15px;
        }

        .fa-circle-check {
            color: #fff;
            transform: rotate(360deg);
        }
    }
}


.btn{
    display:flex;
    align-items: center;
    background: $grey;
    border-radius: 20px;
    box-shadow: -1px 6px 25px -5px rgba(0,0,0,0.31);
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
    width: 100%;

    h3 {
        margin: 0;
        margin-top: 10px;
        white-space: nowrap; 
        width: 80%; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    p {
        margin: 10px 0;
        white-space: nowrap; 
        width: 80%; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    span {
        margin-right: 10px;
    }
}


.btn__in--right {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.btn__in--left {
    width:55%;
    padding-left: 15px;
}

.meal {
    text-transform: uppercase;
    border-bottom: $green 3px solid;
    font-weight: 400;
    width: 45px;
}

/* animation section menu */

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes movement {
    0% {
        transform: translateY(10px);
    }


    100% {
        transform: translateY(0px);
    }
}

.menu {
    animation: opacity 0.8s linear 0s;

    .entrees {
        animation: opacity 1.3s linear 0s, movement 1s linear 0s ;
    }

    .dishes {
        animation:  opacity 2s linear 0s, movement 1s linear 0.2s ;
    }

    .desserts {
        animation: opacity 2.5s linear 0s, movement 1s linear 0.4s ;
    }
}


/* Animation Chargement de page */

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1);
    }

    25% {
        transform: rotate(360deg) scale(1.2);
    }

    50% {
        transform: rotate(720deg) scale(1);
    }

    75% {
        transform: rotate(360deg) scale(1.2);
        color:#fff;
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

@keyframes color {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);
        color:#fff;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes disapear {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(0);
    }
}

.loading-spinner {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    background: linear-gradient(to bottom, #FF79DA 30%, #9356DC 100%);
    animation: disapear 0.5s ease-in-out  forwards 3s;

    .loading-title {
        font-family: Shrikhand, sans-serif;
        animation: color 3s ease-in-out forwards 0.5s;
    }

    .fa-circle-notch {
        font-size: 60px;
        position:relative;
        font-size: 100px;
        animation: rotate 3s ease-in-out forwards 0.5s;
    }
}


/* animation coeur */

@keyframes heart-move-solid {
    0% {
        transform: scale(0);
    }


    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.05);
        color: $pink;
    }
}
@keyframes heart-move-empty {
    0% {
        transform: scale(1.1);
    }


    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.05);
    }
}

.heart {
    position: absolute;
    right: 54px;
}
.fa-heart {
    font-size: 21px;
    transition: transform 0.6s;
    &:hover {
        animation: heart-move-empty 0.4s ease-in-out forwards 0.5s;
    }
}

.fa-heart-empty {
    position: relative;
    z-index: 1;
    color: #25282a;
    &:hover {
        transform: scale(1.31);
        color: $purple;
        & + .fa-heart-solid {
            animation: heart-move-solid 0.4s ease-in-out forwards 0.5s;
        }
}
}

.fa-heart-solid {
    position: absolute;
    right:0px;
    transform: scale(0);
}


/* Coeur accueil */
.card__details--heart1 {
    position: relative;
}

.card__details--heart2 {
    position: relative;
}


/* Etiquette nouveau */

.card__label {
    display:flex;
    position: relative;
    p {
        position: absolute;
        right:20px;
        bottom: 150px;
        background-color: #99E2D0;
        border-radius: 5px;
        padding: 5px;
        font-weight: 600;
    }
}

