@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Shrikhand&display=swap");
/* Page entière */
body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.content {
  margin: 0 auto;
  max-width: 1400px;
}

/* Haut de page */
header {
  margin-top: 20px;
  text-align: center;
  font-family: Shrikhand, sans-serif;
}

input {
  margin-left: 10px;
  border: 0px;
  background: #e0e0e0;
}

.logo-head {
  height: 30px;
  object-fit: cover;
}

.block {
  padding-bottom: 1px;
  text-align: center;
  background: #f2f2f2;
}
.block .position {
  box-shadow: inset 0 11px 8px -9px rgba(0, 0, 0, 0.3);
  background: #e0e0e0;
  padding: 15px 0;
}
.block .position p {
  margin: 0;
}
.block .position p .fa-location-dot {
  margin-right: 10px;
}

.presentation {
  margin: 0 10%;
}
.presentation h1 {
  margin: 15px 10%;
}

.btn-pink {
  text-align: center;
  margin-bottom: 50px;
}
.btn-pink a {
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  box-shadow: -1px 6px 25px -5px rgba(0, 0, 0, 0.31);
}
.btn-pink a:hover {
  box-shadow: -1px 6px 25px -5px rgba(0, 0, 0, 0.6);
  background: linear-gradient(to bottom, #FF79DA 30%, #9356DC 100%);
}

/* Functioning */
.functioning {
  margin: 50px 5%;
}

.btn_functioning {
  display: flex;
  align-items: center;
}
.btn_functioning p {
  width: 100%;
  font-weight: bolder;
  padding: 25px 30px;
  background: #f2f2f2;
  border-radius: 20px;
  box-shadow: -1px 6px 25px -5px rgba(0, 0, 0, 0.31);
  margin-left: -10px;
}
.btn_functioning p:hover {
  box-shadow: -1px 6px 25px -5px rgba(0, 0, 0, 0.6);
  background: linear-gradient(to bottom, #F7C3FF 0%, #C456FF 100%);
  color: #fff;
}
.btn_functioning span {
  color: #fff;
  border-radius: 30px;
  background: #9356DC;
  padding: 2px 7px;
  position: relative;
}

.fa-functioning {
  margin-right: 20px;
}

/* Restaurants */
.restaurants {
  padding: 30px 0;
  background: #f2f2f2;
}
.restaurants h2 {
  margin-left: 5%;
}

.card {
  margin-left: 5%;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 20px;
  width: 90%;
  padding-bottom: 10px;
  box-shadow: -1px 6px 25px -5px rgba(0, 0, 0, 0.31);
}
.card:hover {
  transform: scale(1.05);
  transition: transform 0.6s;
}
.card h3, .card p {
  margin: 0;
  margin-left: 20px;
  margin-top: 5px;
}
.card a {
  text-decoration: none;
  color: #25282a;
}
.card a:hover {
  color: #9356DC;
}

.restaurants__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.card__details {
  display: flex;
  align-items: baseline;
}
.card__details .fa-heart {
  margin-top: 5px;
  margin-left: 5%;
}

.card__details--flex {
  width: 80%;
}

/* Footer */
footer {
  background: #25282a;
  color: white;
  padding-bottom: 10px;
  padding-left: 5%;
}
footer h2 {
  font-family: Shrikhand, sans-serif;
  margin-top: 0;
  padding-top: 15px;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer li {
  margin-bottom: 10px;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer a:hover {
  color: #9356DC;
}
footer .fa-solid {
  margin-right: 10px;
}

/* version desktop */
@media screen and (min-width: 975px) {
  .flex_functioning {
    display: flex;
    justify-content: space-between;
  }
  .flex_functioning .btn_functioning {
    width: 32%;
  }
  .flex_functioning i {
    margin-right: 5px;
  }
  .flex_functioning p {
    padding: 20px 0;
    text-align: center;
  }

  .btn {
    width: 31%;
  }

  .restaurants__grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  footer ul {
    display: flex;
    justify-content: space-evenly;
  }

  .partie_flex {
    display: flex;
  }
  .partie_flex section {
    width: 30%;
    margin-right: 2%;
  }

  .menu {
    padding-bottom: 10px;
    padding: 0 2%;
  }

  .btn__in--left {
    width: 60%;
  }
}
/* Page Menu */
.partie_flex {
  padding-bottom: 10px;
}
.partie_flex section {
  width: 90%;
}
.partie_flex section ul {
  padding: 0;
}

.menu {
  padding: 0 5% 20px;
  background: #f2f2f2;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  margin-top: -20px;
}
.menu h2 {
  font-family: Shrikhand, sans-serif;
  display: inline-block;
  font-weight: 400;
  margin-right: 40px;
}

.img_menu {
  width: 100%;
  height: 200px;
  object-fit: cover;
  z-index: 0;
}

.fa-circle-check {
  font-size: 0;
}

.btn:hover {
  box-shadow: -1px 6px 25px -5px rgba(0, 0, 0, 0.6);
}
.btn:hover .checklist {
  background: #99E2D0;
  padding: 23px 15px 22px 15px;
  border-radius: 0 20px 20px 0;
  transition: 0.4s;
}
.btn:hover .fa-circle-check {
  color: #fff;
  font-size: 26px;
  transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
}

.btn {
  display: flex;
  align-items: center;
  background: #f2f2f2;
  border-radius: 20px;
  box-shadow: -1px 6px 25px -5px rgba(0, 0, 0, 0.31);
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 100%;
}
.btn h3 {
  margin: 0;
  margin-top: 10px;
  white-space: nowrap;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn p {
  margin: 10px 0;
  white-space: nowrap;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn span {
  margin-right: 10px;
}

.btn__in--right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn__in--left {
  width: 55%;
  padding-left: 15px;
}

.meal {
  text-transform: uppercase;
  border-bottom: #99E2D0 3px solid;
  font-weight: 400;
  width: 45px;
}

/* animation section menu */
@keyframes opacity {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.menu {
  animation: opacity 2s linear 0s;
}
.menu .entrees {
  animation: opacity 1s linear 0s;
}
.menu .dishes {
  animation: opacity 1.5s linear 0s;
}
.menu .desserts {
  animation: opacity 2s linear 0s;
}

/* Animation Chargement de page */
@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(360deg) scale(1.2);
  }
  50% {
    transform: rotate(720deg) scale(1);
  }
  75% {
    transform: rotate(360deg) scale(1.2);
    color: #fff;
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
@keyframes color {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
    color: #fff;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes disapear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.loading-spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  background: linear-gradient(to bottom, #FF79DA 30%, #9356DC 100%);
  animation: disapear 0.5s ease-in-out forwards 4s;
}
.loading-spinner .loading-title {
  font-family: Shrikhand, sans-serif;
  animation: color 4s ease-in-out forwards 0.5s;
}
.loading-spinner .fa-circle-notch {
  font-size: 60px;
  position: relative;
  font-size: 100px;
  animation: rotate 4s ease-in-out forwards 0.5s;
}

/*# sourceMappingURL=style.css.map */
